a {
	color: #00CF9B;
	text-decoration: none;
}

body {
    background-color: #3B3A3F;
	margin: 0px;
}

.card {
    width: 100%;
    color: #00CF9B;
}

#facebook-login {
    margin: 10px;
    width: 200px;
    border-radius: 13px;
}

hr {
	border-color: #00CF9B;
}

.slide-title {
	width: 100px;
	margin-top: -20px;
	font-size: 19px;
	text-align: center;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	position: fixed;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/

.clearfix { display: block; }

h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}




.slide {
	width: 300px;
	height: 200px;
	border: solid red;
	position: fixed;
	text-align: center;
}
